.dialog-item {
	margin-bottom: 20px !important;
	padding: 5px;
	cursor: pointer;
}
.dialog-item > div.pull-left {
	font-size: 0.9em;
	color: #999;
}
.dialog-item > .media-body {
	font-size:0.8em;
}
.dialog-item > .media-body img{
	margin-right: 5px;
}

.active-dialog {
    background: #428BCA;
    color:#fff;
}
.active-dialog a {
    color: #fff;
}