html {
	/*63px is a height of top nav*/
	height: calc(100% - 63px);
}

body, .main {
	height: 100%;
}

body {
	color: #555;
}
.alert {
	position: absolute;
	bottom: 0;
	right: 10px;
	display: inline-block;
}

.popover hr {
	margin:0 10px;
}

.msg-form {
	margin-top:10px;
	border: 1px solid #ccc;
	border-top-width: 2px;
	border-radius: 4px;
}

.delete-post{
	color: #c0c0c0;
	cursor:pointer;
}.delete-post:hover{color: #333;}

.msg-form textarea {
	overflow-y:hidden;
	overflow-x:hidden;
	resize:vertical;
	border:none !important;
	border-radius: 0 !important;
} .msg-form textarea:focus {box-shadow:none !important;}
.msg-send-bg{
	background: #efefef;
	border-radius: 0 1px;
	/*Button height*/
	height: 30px;
	border-radius: 0 4px;
}
.msg-send{
	border-bottom-width: 3px;
}

.post {
	/*?*/
	margin-top: 18px;
}

.post-body {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	margin-left: 15px !important;
	width: 89%;
}
.post-body > img {
	border-radius: 4px;
}

.post-body > a {
	font-weight: bold;
	font-size: 1.1em;
}

.post-body > span {
	color: #999;
}

.post-info {
	margin-top: 4px;
}
.post-info a, .post-info a:hover{
	text-decoration: none;
	padding: 0 4px;
}
.post-info span:first-child{
	color: #428BCA;
	cursor: pointer;
}

.post-body > hr {
	margin-top: 10px !important;
}
.post-body hr {
	margin: 7px auto;
}
/*.post-comments{
	display:none;
}*/
.liked, .rebloged {
	color: #003365;
}

.media {
	margin-top: 0 !important;
}

.media-heading {
	font-size: 1em;
	font-weight: bold;
	display: block;
}

.right-column .panel {
	border: none !important;
}
.right-column .panel-heading{
	border: 1px solid #ddd;
}

.right-column .panel-body{
	padding: 5px !important;
	border-bottom: 1px solid #ddd;
}

.right-column .panel-body img {
	padding-right: 5px;
}


/*Messages*/
.dialogs i {
	padding-right: 5px;
}
.dialogs .active {
	font-weight: bold;
}

.dialog{
	/*20px is a default width of scrollbar. It will be rewrited by javascript*/
	/*width: calc(100% + 20px);*/
	overflow: hidden;
}
.dialog .media-heading > span {
	color:#999;
	font-weight: normal;
}
.dialog-bg{
	border-top: 1px solid #ddd;
	overflow: hidden;
}

.center-column, .dialog-bg, .dialog{
	/*85px is a height of message form*/
	/*height: calc(95% - 85px);*/
}

.dialog{
	height: 100%;
}

.dialog ul {
	margin-bottom: 0;
}

.dialog ul li {
	border: none;
	margin-bottom: 0;
}

.dialog ul li:last-child{
	border: none;
}