{% autoescape None %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/sh.css">
    <link rel="stylesheet" href="/static/css/dialogs.css">
    <style>
    #messages, #dialogs {
        overflow: hidden;
    }
    #messages {
        margin: 0;
    }
    #messages a:last-child{
        border-bottom: none !important;
    }
    #messages span {
        font-size: 1.09em;
    }
    #messages span a{
        font-size: 1.1em;
    }
    #msg-sector {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    #messages img.pull-left {
        padding-right: 0px;
        margin-right: 10px;
        border-radius: 30px;
    }
    #messages-header {
        margin:0;
    }
    #messages-header a {
        background: none repeat scroll 0% 0% rgb(66, 139, 202);
        border-color: rgb(66, 139, 202);
        color: rgb(255, 255, 255);
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
    }
    #msg-sector {
        display:block;
        background:#f5f5f5
    }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <title>Диалоги</title>
</head>
<body>
{% include header.html %}
<div style="bottom: 0px; right: 0px; position: absolute; width: 350px;" id="info-box"></div>
<div class="container">
    <div class="col-lg-8">
        <div class="list-group" id="messages-header">
          <a class="list-group-item " href="#"></a>
        </div>
        <div class="list-group" id="messages">
          {% if current_dialog is not None %}
          {% if loading_possibility %}
          <span class="list-group-item" id="more">
              <div class="btn btn-default col-lg-12">Загрузить больше сообщений</div>
          </span>
          {% end %}
          {% for msg in current_dialog["messages"] %}
          <span class="list-group-item" href="#">
              <img height="40px" class="pull-left" src="{{ msg["author"]["pic"] }}">
              <h5 class="list-group-item-heading"><a href="/{{ msg["msg_author"] }}">{{ msg["author"]["full_name"] }}</a></h5>
              <p class="list-group-item-text">{{ msg["msg_content"] }}</p>
          </span>
          {% end %}
          {% end %}
          </div>
          <div class="list-group">
            <span id="msg-sector" class="list-group-item">
            {% if current_dialog is not None %}
                <div class="media">
                    <a href="#" class="pull-left">
                    <img height="50px" src="{{ c_user["pic"] }}">
                    </a>
                  <div class="media-body">
                    <textarea dialog_id="{{ current_dialog["_id"] }}" class="form form-control" placeholder="Нажмите Ctrl+Enter для отправки"></textarea>
                    <div class="btn btn-primary form-control visible-xs">Отправить</div>
                  </div>
                </div>
            {% else %}
            Создайте диалог и начните общаться
            {% end %}
            </span>
            </div>
    </div>
    <div class="col-lg-4">
        <div class="list-group" id="dialogs">
          {% for dialog in dialogs %}
          <a href="#" class="list-group-item active" dialog_id="{{ dialog["_id"] }}">
            <h4 class="list-group-item-heading">{{ dialog["full_name"] }}</h4>
            <p class="list-group-item-text">{{ dialog["last_msg"]["msg_content"] }}</p>
          </a>
          {% end %}
        </div>
        <div class="btn-group btn-group-justified" id="new_talk">
            <a class="btn btn-default">Создать беседу</a>
        </div>
    </div>
</div>
<div class="modal" id="new_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Новое сообщение</h4>
      </div>
      <div class="modal-body">
        <select name="" data-live-search="true" class="selectpicker col-lg-12 col-xs-12 col-md-12 col-sm-12">
            {% for friend in friends %}
            <option data-content="<img src='/static/img/sheldon-square.jpg' alt='Sheldon' height='15px'> {{ friend }}" value="{{ friend }}"></option>
            {% end %}
        </select>
        <textarea name="msg-content" class="form-control" cols="30" rows="8"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="msg-send" data-dismiss="modal">Отправить</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/sockjs-0.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/mousewheel.js"></script>
<script type="text/javascript" src="/static/js/messages.js"></script>
<script type="text/javascript">
    // Так как margin-bottom:-1
    var dialogs_height = -5;
    var messages_height = 0;
    $(document).ready(function(){
    $("#dialogs > a:lt(5)").each(function(){dialogs_height +=$(this).outerHeight();});
    $("#dialogs").height(dialogs_height);
    $('#dialogs').mousewheel(function(event, delta, deltaX,  deltaY) {
       var scrollTop = $(this).scrollTop();
       $(this).scrollTop(scrollTop-Math.round(delta * 20));
    });
    var max_messages_size = ($(window).height() - ($("#msg-sector").outerHeight() + $("nav").outerHeight())) * 0.85;
    $("#messages").css("max-height", max_messages_size);
    $("#messages").animate({ scrollTop: max_messages_size}, "fast");
    $('#messages').mousewheel(function(event, delta, deltaX,  deltaY) {
       var scrollTop = $(this).scrollTop();
       $(this).scrollTop(scrollTop-Math.round(delta * 20));
    });
    $('.selectpicker').selectpicker({% if modal["receiver"] is not None %}'val', '{{ modal["receiver"] }}'{% end %});
    {% if modal["show"] %}
    $("#new_message").modal();
    {% end %}
    });
</script>
</body>
</html>