<nav role="navigation" class="navbar navbar-default navbar-static" id="navbar-example">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"><span class="sr-only">Навигация</span></button> <a href="/" class="navbar-brand">SclHub</a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-collapse">
        {% if current_user is not None %}
            <ul class="nav navbar-nav">
                <li><a href="/news">Новости</a></li>
                <li><a href="/dialogs">Мои сообщения</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="drop1">Другие разделы</a>
                    <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                        <li role="presentation">
                            <a href="/search" tabindex="-1" role="menuitem">Поиск подписок</a>
                        </li>
                        <li role="presentation">
                            <a href="#" tabindex="-1" role="menuitem">Музыка</a>
                        </li>
                        <li role="presentation">
                            <a href="#" tabindex="-1" role="menuitem">Видео</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="badge" data-placement="bottom" data-toggle="popover" data-container="body">5</span></a></li>
                <li class="dropdown" id="fat-menu">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop3" href="#">
                      <img src="{{ profile["pic"] }}" alt="{{ profile["full_name"] }}" height="20px">
                      <span>{{ current_user }}</span>
                    </a>
                    <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
                        <li role="presentation">
                            <a href="/" tabindex="-1" role="menuitem">Моя страница</a>
                        </li>
                        <li role="presentation">
                            <a href="/dialogs" tabindex="-1" role="menuitem">Мои сообщения</a>
                        </li>
                        <li role="presentation">
                            <a href="/profile/{{ current_user }}" tabindex="-1" role="menuitem">Мой профиль</a>
                        </li>
                        <li role="presentation">
                            <a href="/?logout=true" tabindex="-1" role="menuitem">Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Регистрация</a></li>
            </ul>
        {% end %}
    </div>
    </div>
</nav>