{% autoescape None %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/sh.css">
	<script src="/static/js/jquery.min.js"></script>
	<title>SocialHub</title>
</head>
<body>
{% include header.html %}
<div class="container main">
    <div class="col-lg-3">
        <div class="list-group dialogs">
        <a href="#" class="list-group-item active">@{{ ", ".join(receivers) }}</a>
        {% for dialog in dialogs %}
          <a href="#" class="list-group-item">@{{ ", ".join(dialog["members"]) }}</a>
        {% end %}
        </div>
    </div>
    <div class="col-lg-7 center-column">
        <div class="dialog-bg">
            <div class="dialog">
            <ul class="list-group">
                {% if loading_possibility: %}
                <li class="list-group-item">
                    <div class="btn btn-default col-lg-12">Загрузить больше сообщений</div>
                </li>
                {% end %}
                {% for message in messages%}
                <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object" src="/static/img/sheldon-square.jpg" alt="..." height="40px">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="#">{{ message["msg_author"] }}</a>
                            <span> - {{ message["date"] }}</span>
                        </h4>
                        {{ message["msg_content"] }}
                      </div>
                    </div>
                </li>
                {% end %}
            </ul>
            </div>
        </div>
        <div class="msg-form">
            <textarea name="post" class="form-control" dialog_id="{{ dialog_id }}" receivers="{% for rec in receivers %}{{ rec }} {% end %}" placeholder="Текст сообщения"></textarea>
            <div class="msg-send-bg">
                <div class="btn btn-primary pull-right msg-send btn-sm" buddies="sheldon" dialog_id="">Отправить</div>
            </div>
        </div>
    </div>
<div class="col-lg-2 right-column">
  <div class="panel panel-default">
    <div class="panel-heading">Online friends</div>
      <div class="panel-body text-center">
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
      </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/sockjs-0.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/mousewheel.js"></script>
<script type="text/javascript" src="/static/js/messages.js"></script>
<script>
    $(document).ready(function(){
        var height = 0;
        $.each($("#messages *"), function(){height+= $(this).outerHeight(true);})
        $("#messages").animate({ scrollTop: height }, "slow");
    }
</script>
</body>
</html>