{% autoescape None %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sh.css">
    <script src="/static/js/jquery.min.js"></script>
    <title>SocialHub</title>
</head>
<body update="wall" owner="{{ profile["username"] }}">
{% include header.html %}
<div style="bottom: 0px; right: 0px; position: absolute; width: 350px;" id="info-box"></div>
<div class="container">
    <div class="col-lg-3">
        <div class="list-group text-center">
            <a href="#"><img src="{{ profile["avatar"] }}" class="img-responsive" alt="{{ profile["full_name"] }}"></a>
            <a href="#" class="list-group-item active">{{ profile["full_name"] }} @{{ profile["username"] }}</a>
            <a href="#" class="list-group-item">Друзья</a>
            <a href="/profile/{{ current_user }}" class="list-group-item">Профиль</a>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="msg-form">
            <textarea name="post" class="form-control" user="{{ profile["username"] }}" placeholder="Поделитесь новостью"></textarea>
            <div class="msg-send-bg">
                <div class="btn btn-primary pull-right msg-send btn-sm">
                    Отправить
                </div>
            </div>
        </div>
        <div class="posts row">
            {% for post in posts %}
            <div class="post col-lg-12 clearfix" pid="{{ post['_id'] }}">
                <img src="{{ post["pic"] }}" alt="{{ post['author'] }}" height="50px" class="hidden-xs pull-left">
                <div class="pull-left post-body col-lg-10">
                    {% if "origin" in post.keys() and post['author']!=profile["username"]%}<i class="icon-retweet"></i>{% end %}<a href="/{{ post['author'] }}">{{ post['author'] }}</a> <span>{{ post['date'] }}</span>{% if post['author']==current_user or post['owner']==current_user %}<i class="pull-right icon-trash delete-post" pid="{{ post['_id'] }}"></i>{% end %}
                    <div class="post-content">
                        {{ post['content'] }}
                    </div>
                    <div class="post-info">
                        <span class="pull-left" com_count="{{ post["com_count"] }}">{{ comment_label_format(post['com_count'] - len(post["comments"])) }}</span>
                        <a href="#"><i class="icon-heart like {% if current_user in post['likes'] %} liked {% end %} pull-right">{{ len(post["likes"]) }}</i></a>
                        <a href="#"><i class="icon-retweet reblog {% if current_user in post['reblogs'] %}rebloged{% end %} pull-right">{{ len(post["reblogs"]) }}</i></a>
                    </div>
                    <div class="post-comments" {% if post["com_count"] == 0 %} style="display:none;"{% end %}>
                        <hr>
                        {% for comment in post["comments"] %}
                        <div class="media" cid="{{ comment["_id"] }}">
                            <a class="pull-left" href="#"><img class="media-object" height="35px" src="{{ comment["pic"] }}" alt="{{ comment["author"] }}"></a>
                            <div class="media-body">
                                <a class="media-heading" href="#">{{ comment["author"] }}<span class="pull-right delete-comment" comment_id="{{ comment["_id"] }}">×</span></a>
                            {{ comment["content"] }}
                            </div>
                            <hr>
                        </div>
                        {% end %}
                        <div class="add-comment">
                        <div class="media">
                        <a class="pull-left" href="#">
                        <img height="30px" src="{{ profile["pic"] }}">
                        <div style="font-weight:bold;color:#777;font-size:0.9em;" class="text-center">180</div>
                        </a>
                        <div class="media-body">
                        <textarea placeholder="Нажмите Ctrl+Enter для отправки" style="font-size:0.8em;" maxlength="180" class="form form-control" rows="1"></textarea>
                        <button type="button" pid="{{ post['_id'] }}" class="btn btn-primary btn-xs comment-send col-xs-12 visible-xs">Отправить</button></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
        {% if more %}
        <button id="load_posts" owner="{{ profile["username"] }}" style="margin:30px 0px;" class="btn btn-default col-lg-12">Загрузить больше</button>
        {% end %}
    </div>
<div class="col-lg-2 right-column">
  <div class="panel panel-default">
        {% include online.html %}
</div>
</div>
<script type="text/javascript" src="/static/js/sockjs-0.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/wall.js"></script>
</body>
</html>