  <div class="panel panel-default">
    <div class="panel-heading">Друзья онлайн</div>
      <div class="panel-body text-center">
        {% if len(online) > 0 %}
        {% for online_user in online %}
        <a data-toggle="tooltip" href="#" data-original-title="{{ online_user["username"] }}" class="tooltips">
            <img src="{{ online_user["pic"] }}" alt="{{ online_user["username"] }}" height="25px">
            <a href="/{{ online_user["username"] }}">{{ online_user["full_name"] }}</a>
        </a>
        {% end %}
        {% else %}
        Нет друзей онлайн
        {% end %}
      </div>
    </div>