<div class="list-group text-center">
    <a href="#"><img src="{{ profile["avatar"] }}" class="img-responsive" alt="{{ profile["full_name"] }}"></a>
    <a href="#" class="list-group-item active">{{ profile["full_name"] }} @{{ profile["username"] }}</a>
    {% if profile["username"] != current_user %}
    <a href="#" id="friendship" class="list-group-item"
        {% if friendship == 0 %}
        friendship_status="0">Отправить заявку в друзья</a>
        {% elif friendship == 1 %}
        friendship_status="1">Удалить заявку в друзья</a>
        {% elif friendship == 2 %}
        friendship_status="2">Удалить из друзей</a>
        <a href="/dialogs?receiver={{ profile["username"] }}#new_message" class="list-group-item">Отправить сообщение</a>
        {% end %}
    <a href="/profile/{{ current_user }}" class="list-group-item">Профиль</a>
    {% end %}
    <a href="#" class="list-group-item">Друзья</a>
</div>