<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sh.css">
    <link rel="stylesheet" href="/static/css/crop.css">
    <title>SocialHub</title>
</head>
<body>
{% include header.html %}
<div class="container">
    <div class="col-lg-3">
        {% include profile_badge.html %}
    </div>
    <div class="col-lg-7">
        <div class="col-lg-12"><h3>Профиль пользователя @Zamony</h3></div>
        <div class="col-lg-7">
            <div class="form-group clearfix">
                <form style="height:35px" method="PUT" class="pull-left" id="avatar">
                <div class="form-group">
                <span class="btn btn-default" style="position: relative;overflow:hidden;cursor:pointer;">
                <span>Выбрать новый аватар</span>
                <input type="file" id="avatar_uploader" name="files[]" style="position: absolute; top: 0px; left: 0px;height:100%;cursor:pointer;font-size:999px;margin-top:-4px;filter: alpha(opacity=0);opacity: 0;" data-url="/api/v1/upload/image/temp">
                </span>
                <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress progress-striped active">
                <div style="width:0%;" class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
                </div>
                </div>
                </form>
            </div>
            <form id="profile_data">
                <div class="form-group">
                    <label for="full_name">Полное имя:</label>
                    <input type="text" name="full_name" class="form-control" value="{{ profile["full_name"] }}" placeholder="Ivan Ivanov">
                </div>
                <div class="form-group">
                    <label for="full_name">Электропочта:</label>
                    <input type="email" name="email" class="form-control" value="{{ profile["email"] }}" placeholder="me@email.com">
                </div>
            </form>
            <div class="form-group">
                <button class="form-control btn btn-primary" id="save_changes">Сохранить изменения</button>
            </div>
            <form id="password_data">
                <div class="form-group">
                    <label for="full_name">Старый пароль:</label>
                    <input type="password" class="form-control" name="old">
                </div>
                <div class="form-group">
                    <label for="full_name">Пароль:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="full_name">Повтор пароля:</label>
                    <input type="password" class="form-control" name="repeat">
                </div>
            </form>
            <div class="form-group">
                <button class="form-control btn btn-primary" id="save_password">Сохранить пароль</button>
            </div>
        </div>
    </div>
<div class="col-lg-2 right-column">
  <div class="panel panel-default">
    <div class="panel-heading">Online friends</div>
      <div class="panel-body text-center">
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
        <a data-toggle="tooltip" href="#" data-original-title="Sheldon Cooper" class="tooltips"><img src="/static/img/sheldon-square.jpg" alt="Sheldon Cooper" height="36px"></a>
      </div>
    </div>
</div>
</div>
<div class="modal" id="update_avatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Загрузка аватара</h4>
      </div>
      <div class="modal-body">
            <div id="cropperContainer">
                <img src="" alt="Аватар">
            </div>
            <div id="previews">
               <div id="previewSmall"></div>
            <!-- <div id="previewBig"></div> -->
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="update_avatar_button" >Обновить аватар и миниатюру</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<!-- <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
<script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/js/crop.js"></script>
<!-- <script type="text/javascript" src="/static/js/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="/static/js/jquery.fileupload-image.js"></script>
<script type="text/javascript" src="/static/js/jquery.fileupload-jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.fileupload-ui.js"></script> -->
<script type="text/javascript">
$(document).ready(function(){
    var crop = null;
    $("#avatar_uploader").fileupload({
        method: "PUT",
        dataType: 'json',
        done: function (e, data) {
            $("#cropperContainer *").remove();
            $("#update_avatar").modal();
            crop = new ICropper(
                'cropperContainer'
                ,{
                        keepSquare:true
                        ,minWidth: 50
                        ,minHeight: 50
                        ,image: data.result.url
                });
        }
    });
    $("#update_avatar_button").bind("click", function(){
        data = crop.getInfo();
        data.url = crop.image;
        $.ajax({
            url: "/api/v1/upload/image/avatar",
            type: 'PUT',
            data:data,
            success: function(resp) {
                resp = JSON.parse(resp);
                $("#avatar_image").attr("src", resp["avatar"]);
                $("#fat-menu img").attr("src", resp["pic"]);
            }});
    });
    $("#save_changes").bind("click",function(){
        var data = $("#profile_data").serialize();
        $.ajax({
            url: "/api/v1/profile",
            type: 'PUT',
            data:data,
            success: function(resp) {
            }});
    });
    $("#save_password").bind("click",function(){
        var data = $("#password_data").serialize();
        $.ajax({
            url: "/api/v1/password",
            type: 'PUT',
            data:data,
            success: function(resp) {
            }});
    });
});
</script>
</body>
</html>