<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sh.css">
    <title>SocialHub</title>
</head>
<body>
{% include header.html %}
<div class="container">
    <div class="col-lg-3">
        {% include profile_badge.html %}
    </div>
    <div class="col-lg-7 row">
    <div class="input-group">
        <input type="text" class="form-control" id="search_input" placeholder="@user или Ivan Ivanov">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="search">Поиск</button>
      </span>
    </div>
    <div id="search_results" class="post-body" style="margin-left:0 !important;width:auto;margin-top:10px;">
<!--         <div class="media">
                  <a href="#" class="pull-left">
                    <img height="30px" class="media-object" src="/static/img/sheldon-square.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Иван Иванов</a></h4>
                  </div>
        </div> <hr/>-->
        Найдите интересные подписки
    </div>
    </div>
<div class="col-lg-2 right-column">
    {% include online.html %}
</div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $("#search").bind('click', function(){
            search = $("#search_input").val();
            $.ajax({
                url: "/api/v1/search/"+search,
                type: 'POST',
                success: function(resp) {
                    var data = JSON.parse(resp);
                    $("#search_results").html("");
                    console.log(data);
                    $.each(data, function(username, info){
                        $("#search_results").append('<div class="media">\
                            <a href="#" class="pull-left">\
                            <img height="30px" class="media-object" src="'+ info["pic"] +'" alt="...">\
                            </a>\
                            <div class="media-body">\
                            <h4 class="media-heading"><a href="/'+ username +'">'+ info["full_name"] +'</a></h4>\
                        </div></div> <hr/>');
                    });
                    // console.log(data);
                    // $("#search_results").append("")
                }});
            });
    });
</script>
</body>
</html>